
@media screen and (min-width:597px) {
 
.name{
  font-size: 0.3em;

}
}
  @media screen and (min-width:900px) {
    .container{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

}
