/*all*/
.container{
  display:flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

/*header*/
.top{
display:flex;
justify-content: space-between;
width: 100%;
min-height: 300px;
border-bottom: solid 10px #7d97ad;
position: relative;
}
.logo{
width: 20%;
margin: 1%;
}
.name{
  color: #2d3c49;
  text-transform: uppercase;
  text-align: right;
  margin: 0% 5%;
  position: absolute;
  right: 0;
  bottom: 0;
  }

  /*center*/

  .image{
    width: 100%;
    padding: 1% 0%;
}


  /*footer*/

h2{
    color: #7d97ad;
    text-align: left;
  }

.pictures{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.app{
  width: 30%;
  min-height: 200%;
  background-image:url(images/app.jpeg) ;
  background-size: cover;
  background-repeat: no-repeat;
}
.flower{
  width: 30%;
  min-height: 200%;
  background-image:url(images/flower.jpg) ;
  background-size: cover;
background-repeat: no-repeat;
}
.bokeh{
  width: 30%;
  min-height: 200%;
  background-image:url(images/bokeh.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
}
.description{
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
