/*all*/

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  font-size: 14px;
  ;
}

/*header*/
.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 10px #7d97ad;
  position: relative;
}

.logo {
  width: 10%;
  margin: 1%;
}

.name {
  color: #2d3c49;
  text-transform: uppercase;
  text-align: right;
  margin: 0% 5%;
  position: absolute;
  right: 0;
  bottom: 0;
}

/*center*/

.image {
  width: 100%;
  padding: 1% 0%;
}


/*footer*/

h2 {
  color: #7d97ad;
  text-align: left;
}

/*block with featured work*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

/* each work in its own column*/
.column {
  width: 30%;
  height: 100%;
}

/*pictures*/
.app {

  width: 100%;
  height: 100%;
  background-image: url(images/app.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.flower {

  width: 100%;
  height: 100%;
  background-image: url(images/flower.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bokeh {

  width: 100%;
  height: 100%;
  background-image: url(images/bokeh.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* description of the pictures*/
.textblock {
  text-transform: uppercase;

}

/* position of text*/
h3 {
  position: relative;
  left: 30%;

}

.link {
  position: relative;
  left: 25%;
}